.App {
  text-align: center;
}

body {
  background-color: #292833;
  color: #f5f1f1;
  font-family: "Overpass";
}

.container{
background-color: #292833;
}

.Post {
  border-style: solid;
  border-radius: 5px;
  border-color: #5F5177;
  border-width: 2px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.IconButton {
  margin: 0 0 0 0;
}

.btn {
  background-color: purple;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-2 {
  display: inline-block;
}

.commentBorder {
  border-style: solid;
  border-radius: 5px;
  border-color: #5F5177;
  border-width: 2px;
  padding-bottom: 0px;
  padding-left: 20px;
}