* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}


.App {
  text-align: center;
}

body {
  background-color: #292833;
  color: #f5f1f1;
  font-family: 'Overpass';
}

.container{
background-color: #292833;
}

.IconButton {
  margin: 0 0 0 0;
}

.btn {
  background-color: #BF9AFC;
  border: none ;
  padding: 12px 16px ;
  font-size: 20px ;
  cursor: pointer ;
  height: 48 ;
  color: #292833 ;
}

.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-2 {
  display: inline-block;
}

.Post {
  border-style: solid;
  border-radius: 5px;
  border-color: #5F5177;
  border-width: 2px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.commentBorder {
  border-style: solid;
  border-radius: 5px;
  border-color: #5F5177;
  border-width: 2px;
  padding-bottom: 0px;
  padding-left: 20px;
}

*:focus {
  outline: none;
}

.img:hover{
  color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

#searchBar {
  color: #BF9AFC
}

.rbt-input-main, .rbt-input-main:focus, .rbt-input-hint, .rbt-menu {
  color: #BF9AFC;
  background-color: transparent;
  border: none;
}

.rbt-input-main:focus, input:focus, textarea:focus, button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.rbt-menu {
  background-color: #292833;
  border: solid 2px #BF9AFC;
}

.dropdown-item:hover {
 background-color: #BF9AFC; 
}

.border, .border-secondary {
  color: #BF9AFC;
  border-color: #BF9AFC !important;
}

::placeholder, textarea::placeholder {
  color: #5F5177;
}

Input{
  background-color: #292833;
  color: #ffffff
}

.tooltip {
  max-width: 12%;
  word-break: normal;
  overflow-wrap: break-word;
  display: block;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.createProfileCard{
  margin: 10%;
  max-width: 30%;
  background-color: #292833;
  border-radius: 10px;
  box-shadow: -1px 7px 25px 1px #171421;
  color: #BF9AFC;
}


.modal-content{
  background-color: #292833 ;
}

.close {
  color: #BF9AFC;
}

.close:not(:disabled):not(.disabled):hover {
  color: #BF9AFC;
}

.loginCard {
  margin: 200px;
  max-width: 20%;
  background-color: #292833;
  color: #BF9AFC;
  border-radius: 10px;
  box-shadow: -1px 7px 25px 1px #171421;

} 

.signUpCard {
  margin: 200px;
  max-width: 20%;
  max-height: 100%;
  background-color: #292833;
  border-radius: 10px;
  box-shadow: -1px 7px 25px 1px #171421;
}

.cardBtnStyle { 
  margin-bottom: 20px;
  margin-top: 14px;
  margin-right: 2.5%;
  background-color: transparent;
  color: #BF9AFC;
  padding: 0.4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: solid;
  border-radius: 10px;
  border-color: #BF9AFC;
  border-width: 2px;
}

.navLinkStyle{
  color: #BF9AFC;
  text-decoration: none;
  font-size: 25px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}

.navIconStyle{
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}

.navProfileIconStyle{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}



/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  z-index: 9999999;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #BF9AFC;
  z-index: 9999999;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #FFFFFF;
  z-index: 9999999;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 9999999;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #BF9AFC;
  z-index: 9999999;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 9999999;
}

/* General sidebar styles */
.bm-menu {
  background: #292833;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 9999999;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #292833;
  z-index: 9999999;
}

/* Wrapper for item list */
.bm-item-list {
  color: #BF9AFC;
  padding: 0.8em;
  z-index: 9999999;
}

/* Individual item */
.bm-item {
  display: inline-block;
  z-index: 9999999;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999999;
}

.NavigationBar{
  margin-left: 25%
}

@media screen and (max-width: 1300px) 
{
.signUpCard {
  max-width: 30%;
} 

.loginCard {
  max-width: 30%;
}

}


@media screen and (max-width: 850px) and (min-width: 500px) 
{
.signUpCard {
  max-width: 50%;
} 

.loginCard {
  max-width: 50%;
}

/* .NavigationBar {
  visibility: hidden;
} */

}


@media screen and (max-width: 500px) 
{
.signUpCard {
  max-width: 60%;
} 

.loginCard {
  max-width: 60%;
}

.navLinkStyle{
  font-size: 20px;

}

.navIconStyle{
  width: 20px;
  height: 20px;

}

.navProfileIconStyle{
  width: 20px;
  height: 20px;
}

/* .NavigationBar {
  visibility: hidden;

} */

}